<div class="d-flex flex-column h-100">

  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/" style="color:#F8F9FA">
        <img src="assets/logo.png" width="34" height="30" class="logo-navbar" />
        Portail InsaLan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
            <a class="nav-link">Accueil</a>
          </li>

          <li class="nav-item" routerLink="/faq" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
            <a class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [hidden]="!auth.isConnected() || !auth.isAdmin()">Gestion</a>
          </li>
          <!--
          <li class="nav-itemactive">
            <a class="nav-link" href="">Gestion des tickets</a>
          </li>

          <li class="nav-itemactive">
            <a class="nav-link" href="">Demande d'assistance <span class="badge bg-light"></span></a>
          </li>
        -->
        </ul>

        <ul class="nav navbar-nav ml-auto">

          <li class="nav-item" [hidden]="!auth.isConnected()">
            <a class="nav-link" (click)="disconnect()">Déconnexion</a>
          </li>

        </ul>

      </div>
    </nav>

  </div>

  <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>

  <div class="text-center mt-auto footer-insalan">
    <ul>
      <li style="border-left-style: none !important;">© InsaLan, 2018-2019</li>
      <li>Distribué sous licence Apache</li>
      <li><a href="https://github.com/Insalan-EquipeTechnique/insalan-langate2000">Sources</a></li>
      <li><a href="#">Crédits</a></li>
    </ul>
  </div>

</div>